body{
    background-color: #fca1ffcd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    gap: 10px;
}

button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 2em;
    color: rgb(97, 202, 255);
}

.reload{
    width: 140px;
    height: 75px;
    border-radius: 50%;
    font-size: 1em;
    color: rgb(138, 75, 255);
    margin-top: 100px;
    text-align: center;

}